
@{
    ViewData["Title"] = "Email Confermation";
}

<div class="EmailMsg jumbotron">
    <h1>Email verification Complete</h1>
    <p>@ViewBag.message</p>
    <a asp-action="Login" asp-controller="Account" class="link">Login Here</a>
</div>

