@model Global_Intern.Models.AccountLogin

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container">
    <div class="img">
        <img src="/img/login.svg">
    </div>
    <div class="login-content">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <a href="Register">Don't have an account? Sign Up</a>
            <img src="/img/profile.svg">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5 id="tttEmail"></h5>
                    <input  asp-for="Email" id="EmailInput" type="email" class="form-control" placeholder="Your Email"/>
                    <label asp-for="Email" hidden class="control-label"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 id="tttpassword"></h5>
                    <input  asp-for="Password" id="PasswordInput" type="password" class="form-control" placeholder="Your Password"/>
                    <label asp-for="Password" hidden class="control-label"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="checkbox mb-3" style="text-align:left;padding-top:15px;">
                <label class="form-check-label">
                    <input class="form-check-input" style="transform: scale(1.5);" asp-for="RememberMe" /> &nbsp;&nbsp; @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <a href="ForgotPassword">Forgot Password?</a>
            <button class="btn-back" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</button>
            <input type="submit" class="btn" value="Login">
        </form>
    </div>
</div>

<script>
    var placeHolderEmail = document.getElementById("tttEmail");
    var placeHolderPass = document.getElementById("tttpassword");
    var inputEmail = document.getElementById("emailInput");
    var inputPass = document.getElementById("passwordInput");
    inputEmail.addEventListener('focus', () => {
        placeHolderEmail.innerText = "";
    });
    inputPass.addEventListener('focus', () => {
        placeHolderPass.innerText = "";
    });
    inputEmail.addEventListener('blur', () => {
        if (inputEmail.value == "") {
            placeHolderEmail.innerText = "Your Email";
        }

    });
    inputPass.addEventListener('blur', () => {
        if (inputPass.value == "") {
            placeHolderPass.innerText = "Password";
        }
    });
</script>
