@model Global_Intern.Models.UserDocument;
@{
	ViewData["Title"] = "Documents";
	Layout = "~/Views/Shared/_LayoutDashBoardStudent.cshtml";
}




<main>
	<div class="content">
		<div class="container-fluid" style="margin-top:56px;">
			<form id="Documents" asp-controller="DashboardStudent" asp-action="Documents" enctype="multipart/form-data" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<p style="color:red;">
					@ViewBag.NoFileUploadedErrorMessage
				</p>
				<p style="color:green;">
					@ViewBag.SuccessMessage
				</p>
				<div class="content">
					<main>
						<div class="container-fluid" style="margin-top:56px;">
							<div id="GeneralProfile" asp-action="GeneralProfile" enctype="multipart/form-data" method="post">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>

								<label for="CL">Upload your Cover Letter:</label>

								<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
									<input type="file" ID="UserCLFile" name="UserCLFile" asp-for="UserCL">
									<p style="color:red">@ViewBag.CLFileExtErrorMessage</p>
								</div>

								<label for="CV">Upload your Resume:</label>

								<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
									<input type="file" ID="UserCVFile" name="UserCVFile" asp-for="UserCV">
									<p style="color:red">@ViewBag.CVFileExtErrorMessage</p>
								</div>

							</div>
						</div>
					</main>
				</div>
				<input type="submit" value="Save" class="btn btn-info">

			</form>
		</div>
	</div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js" integrity="sha512-37SbZHAnGzLuZV850k61DfQdZ5cnahfloYHizjpEwDgZGw49+D6oswdI8EX3ogzKelDLjckhvlK0QZsY/7oxYg==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {

		$('.sideMenuToggler').on('click', function () {
			console.log("clicked");
			$('.wrapper').toggleClass('active');
		});

		var adjustSidebar = function () {
			$('.sidebar').slimScroll({
				height: document.documentElement.clientHeight - $('.navbar').outerHeight()
			});
		};

		adjustSidebar();
		$(window).resize(function () {
			adjustSidebar();
		});
	});
</script>