@model Global_Intern.Models.UserDocument;
@{
	ViewData["Title"] = "Documents";
	Layout = "~/Views/Shared/_LayoutDashBoardStudent.cshtml";
}




<main>
	<div class="content">
		<div class="container-fluid" style="margin-top:56px;">
			<form id="Documents" asp-controller="DashboardStudent" asp-action="Documents" enctype="multipart/form-data" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="alert alert-danger  alert-dismissible fade show" role="alert">
					@ViewBag.NoFileUploadedErrorMessage		
				</div>
				<div class="alert alert-success" role="alert">
					@ViewBag.SuccessMessage					
				</div>
				<div class="content">
					<main>
						<div class="container-fluid" style="margin-top:56px;">
							<div id="GeneralProfile" asp-action="GeneralProfile" enctype="multipart/form-data" method="post">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>

								<label for="CL">Upload your Cover Letter:</label>

								<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
									<input type="file" ID="UserCLFile" name="UserCLFile" asp-for="UserCL">
									<p style="color:red">@ViewBag.CLFileExtErrorMessage</p>
								</div>

								<label for="CV">Upload your Resume:</label>

								<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
									<input type="file" ID="UserCVFile" name="UserCVFile" asp-for="UserCV">
									<p style="color:red">@ViewBag.CVFileExtErrorMessage</p>
								</div>

							</div>
						</div>
					</main>
				</div>
				<input type="submit" value="Save" class="btn btn-info">

			</form>
		</div>
	</div>
</main>
