@model Global_Intern.Models.GeneralProfile.ProfileViewStudent;
@{
    ViewData["Title"] = "CompleteProfile";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="content">
    <main>
        <div class="container-fluid" style="margin-top:56px;">
            <form id="GeneralProfile" asp-action="GeneralProfile" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <div class="row py-4">
                        <div class="col-lg-6">
                            <h1>My Profile</h1>
                            <section class="personalDETAILS">
                                <h2>NAME AND CONTACT DETAILS</h2>
                                <!-- Uploaded image area-->
                                @{ if (@Model.UserImageName == null)
                                    {

                                        <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
                                        <div class="image-area mt-4">
                                            <img id="imageResult" src="~/uploads/defaut-person.png" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
                                        <div class="image-area mt-4">
                                            <img id="imageResult" src="~/uploads/UserImage/@Model.UserImageName" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                                        </div>
                                    }
                                }
                                <!-- Upload image input-->
                                <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                    <input id="upload" asp-for="UserImage" onchange="readURL(this);" class="form-control border-0">
                                    <label id="upload-label" asp-for="UserImage" class="font-weight-light text-muted">Choose file</label>
                                    <div class="input-group-append">
                                        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                                    </div>
                                </div>
                        </div>
                    </div>
                    @*<input type="submit" class="btn btn-info" value="Upload" />*@
                </div>

                <div class="form-group">
                    <label for="UserFirstName">First Name</label>
                    <input class="form-control" asp-for="UserFirstName">
                </div>
                <div class="form-group">
                    <label for="UserLastName">Last Name</label>
                    <input class="form-control" asp-for="UserLastName">
                </div>

                <div class="form-group">
                    <label asp-for="UserGender" class="control-label" style="transform: scale(1.2);">Gender: </label> &nbsp;
                    <input type="radio" asp-for="UserGender" value="Male" style="transform: scale(1.2);" /> Male &nbsp;
                    <input type="radio" asp-for="UserGender" value="Female" style="transform: scale(1.2);" /> Female &nbsp;
                    <input type="radio" asp-for="UserGender" value="Other" style="transform: scale(1.2);" /> Other &nbsp;
                    <span asp-validation-for="UserGender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="UserAddress">You Current Address</label>
                    <textarea class="form-control" asp-for="UserAddress"></textarea>
                </div>
                <div class="form-group">
                    <label for="UserPhone">Phone Number</label>
                    <input class="form-control" type="number" asp-for="UserPhone">
                </div>
                </section>



                <section class="otherDETAILS">
                    <h2>BACKGROUND AND STUDY DETAILS</h2>

                    <h4>Are you a Domestic or International student?</h4>
                    <input type="radio" id="domestic" name="type" value="domestic">
                    <label for="domestic">Domestic</label><br>
                    <input type="radio" id="international" name="type" value="international">
                    <label for="international">International</label><br>

                    <h4>Do you legally have the right to work in New Zealand?</h4>
                        <input type="radio" id="yes" name="type" value="yes">
                        <label for="yes">YES</label><br>
                        <input type="radio" id="no" name="type" value="no">
                        <label for="no">NO</label><br>

                    <h4>What type of visa do you currently hold?</h4>
                        <input type="checkbox" name="studyvisa" value="studyvisa">
                        <label for="studyvisa"> Student Visa with 20 Hours </label><br>
                        <input type="checkbox" name="workvisa" value="workvisa">
                        <label for="workvisa"> Open Work Visa </label><br>
                        <input type="checkbox" name="workvisa" value="workvisa">
                        <label for="workvisa"> Essential Work Visa </label><br>
                        <input type="checkbox" name="vehicle2" value="workvisa">
                        <label for="workvisa"> Working Holiday Visa </label><br>
                        <input type="checkbox" name="other" value="other">
                        <label for="other"> Other Visa Type </label><br>


                    <h4>Visa expiry date</h4>
                    <input type="date" id="birthday" name="birthday">

                    <h4> Industry Certifications and Licences </h4>
                    <textarea rows="10" cols="50" name="comment" form="usrform" placeholder="Enter line by line here">
                    </textarea>


                    <div class="form-group">
                        <label class="control-label">Driver Licence	:</label>
                        <select onchange="getStates()" id="dd_counties" class="form-control">
                            <option value="">Full Licence</option>
                            <option value="">Registered Licence</option>
                            <option value="">Learner Licence</option>
                            <option value="">Foreign Licence</option>
                            <option value="">No Licence</option>
                        </select>
                    </div>
                </section>


                    <section class="otherDETAILS">
                        <h2>OTHER DETAILS</h2>
                        <label for="birthday">Date of Birth:</label>
                        <input type="date" id="birthday" name="birthday">

                        <div class="form-group">
                            <label class="control-label">Ethnicity</label>
                            <select onchange="getStates()" id="dd_counties" class="form-control">
                                <option value="">European</option>
                                <option value="">Maori</option>
                                <option value="">Asian</option>
                                <option value="">Other</option>
                                <option value="">I'd prefer not to say</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserCountry" class="control-label">Select your Country</label>
                            <select asp-for="UserCountry" onchange="getStates()" id="dd_counties" class="form-control">
                                <option value="">New Zealand</option>
                                <option value="">Russia</option>
                                <option value="">India</option>
                                <option value="">China</option>
                            </select>
                        </div>
                        <!--
            <div class="form-group">
                <label asp-for="UserState" class="control-label">Select your State</label>
                <select asp-for="UserState" id="dd_states" class="form-control">
                    <option value="">Select State</option>
                </select>
                @*<label for="UserState">State</label>
                <input class="form-control" asp-for="UserState">*@
            </div>
            -->
                        <div class="form-group">
                            <label asp-for="UserState">State</label>

                            <div class="form-group">
                                <label asp-for="UserState"></label>
                                <input class="form-control" asp-for="UserState">
                            </div>
                            <div class="form-group">
                                <label asp-for="UserCity">City</label>
                                <input class="form-control" asp-for="UserCity">
                            </div>
                            <div class="form-group">
                                <label for="UserZip">Zip Code</label>
                                <input class="form-control" asp-for="UserZip" value="">
                            </div>
                    </section>

                    <button class="btn-back" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</button>
                    <input type="submit" class="btn btn-info" value="Save">
            </form>
        </div>
    </main>
</div>

@section Scripts {
    <script>

        // Script to fecth Country -> State -> City
        var auth_token = "";
        var selCountries = document.getElementById('dd_counties');
        var selState = document.getElementById('dd_states');
        let uri = "https://www.universal-tutorial.com/api/getaccesstoken";
        let h = new Headers();
        h.append("Accept", "application/json");
        h.append("api-token", "4k9BmJ0DVwUi_ktFlyDvchDFXS3Mz7BAetCqdJjJI6sDmfoIHigqUonf3PQufBB5i3g");
        h.append("user-email", "haritjangwal89@protonmail.com");

        // Get auth_token -> exp every 24 hours
        let req = new Request(uri, {
            method: 'GET',
            headers: h,
            mode: 'cors'
        });
        fetch(req)
            .then((res) => {
                if (res.ok) {
                    return res.json();
                }
                else {
                    throw new Error('BAD Request');
                }
            })
            .then((jsonData) => {
                auth_token = jsonData["auth_token"];
                let uri_country = "https://www.universal-tutorial.com/api/countries/";
                let h = new Headers();
                h.append("Accept", "application/json");
                h.append("Authorization", "Bearer " + auth_token);

                // Get auth_token -> exp every 24 hours
                let req = new Request(uri_country, {
                    method: 'GET',
                    headers: h,
                    mode: 'cors'
                });

                fetch(req)
                    .then((res) => {
                        if (res.ok) {
                            return res.json();
                        }
                        else {
                            throw new Error('BAD Request');
                        }
                    })
                    .then((jsonData) => {
                        populateCountries(jsonData);
                    })
                    .catch((err) => {
                        console.log('ERROR:', err.message);
                    });
            })
            .catch((err) => {
                console.log('ERROR:', err.message);
            });

        $('#dd_counties').on('change', function () {
            let uri = "https://www.universal-tutorial.com/api/states/" + this.value;
            let h = new Headers();
            h.append("Accept", "application/json");
            h.append("Authorization", "Bearer " + auth_token);

            // Get auth_token -> exp every 24 hours
            let req = new Request(uri, {
                method: 'GET',
                headers: h,
                mode: 'cors'
            });

            fetch(req)
                .then((res) => {
                    if (res.ok) {
                        return res.json();
                    }
                    else {
                        throw new Error('BAD Request');
                    }
                })
                .then((jsonData) => {
                    populateStates(jsonData);
                })
                .catch((err) => {
                    console.log('ERROR:', err.message);
                });

        });

        function populateStates(json) {
            json.forEach((element) => {
                console.log("state", element['state_name'])
                var opt = document.createElement('option');
                opt.appendChild(document.createTextNode(element['state_name']));
                opt.value = element['state_name'];
                selState.appendChild(opt);
            })
        }

        function populateCountries(json) {
            json.forEach((element) => {
                //console.log("got single", element['country_name'])
                var opt = document.createElement('option');
                opt.appendChild(document.createTextNode(element['country_name']));
                opt.value = element['country_name'];
                selCountries.appendChild(opt);
            })
        }

        // Script to fecth Country -> State -> City ENDSS

        // Dashboard menu for mobile view
        $(document).ready(function () {


            $('.sideMenuToggler').on('click', function () {

                $('.wrapper').toggleClass('active');
            });

            var adjustSidebar = function () {
                $('.sidebar').slimScroll({
                    height: document.documentElement.clientHeight - $('.navbar').outerHeight()
                });
            };

            adjustSidebar();
            $(window).resize(function () {
                adjustSidebar();
            });
        });


        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imageResult')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(function () {
            $('#upload').on('change', function () {
                readURL(input);
            });
        });

        /*  ==========================================
            SHOW UPLOADED IMAGE NAME
        * ========================================== */
        var input = document.getElementById('upload');
        var infoArea = document.getElementById('upload-label');

        input.addEventListener('change', showFileName);
        function showFileName(event) {
            var input = event.srcElement;
            var fileName = input.files[0].name;
            infoArea.textContent = 'File name: ' + fileName;
        }

    </script>
}
