@model Global_Intern.Models.GeneralProfile.GeneralProfile;
@{
    ViewData["Title"] = "CompleteProfile";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="content">
    <main>
        <div class="container-fluid" style="margin-top:56px;">
            <div id="GeneralProfile" asp-action="GeneralProfile" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h2>"Username" Qualification</h2>

                <p>Add your relevant qualifications here.</p>

                <form action="/action_page.php">
                    <label for="qualification">Choose a qualification</label>
                    <select id="qualification" name="qualification">
                        <option value="Level 4">Certificate Level 4</option>
                        <option value="Level 5">Diploma Level 5</option>
                        <option value="Level 6">Diploma Level 6</option>
                        <option value="Level 7">Diploma Level 7</option>
                        <option value="Level 7">Gradute Diploma Level 7</option>
                        <option value="Level 8">PostGradute Diploma Level 8</option>
                        <option value="B.D.">Bachelor Degree</option>
                        <option value="M.D.">Master Degree</option>
                        <option value="PhD">PhD Degree</option>
                    </select>

                </form>

                <div class="form-group">
                    <label>Field of Study</label>
                    <input class="form-control">

                </div>
                <div class="form-group">
                    <label>Qualification School</label>
                    <input class="form-control">

                </div>

                <div class="form-group">
                    <label>Grade</label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label>Start Date</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input class="form-control">
                </div>

                <form action="/action_page.php">
                    <input type="checkbox" id="StillStudying" name="StillStudying" value="StillStudying">
                    <label for="QualificationStillStudying"> I Still Studying in This Qualification</label><br>
                </form>



                <h3>Have an additional qualification?</h3>

                <form action="/action_page.php">
                    <label for="Additionalqualification">Additional qualification</label>
                    <select id="Additionalqualification" name="Additionalqualification" size="3" multiple>
                        <option value="Level 5">Diploma Level 5</option>
                        <option value="Level 6">Diploma Level 6</option>
                        <option value="Level 7">Diploma Level 7</option>
                        <option value="Level 7">Gradute Diploma Level 7</option>
                        <option value="Level 8">PostGradute Diploma Level 8</option>
                        <option value="B.D.">Bachelor Degree</option>
                        <option value="M.D.">Master Degree</option>
                        <option value="PhD">PhD Degree</option>
                    </select><br><br>
                </form>

                <div class="form-group">
                    <label>Field of Study</label>
                    <input class="form-control">

                </div>
                <div class="form-group">
                    <label>Qualification School</label>
                    <input class="form-control">

                </div>

                <div class="form-group">
                    <label>Grade</label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label>Start Date</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input class="form-control">
                </div>

                <form action="/action_page.php">
                    <input type="checkbox" id="StillStudying" name="StillStudying" value="StillStudying">
                    <label for="QualificationStillStudying"> I Still Studying in This Qualification</label><br>
                </form>

                <button type="submit" onclick="alert('Data be saved, Thank you!')">Submit</button>
                </div>
            </div>
        </div>
    </main>
</div>
