@{ ViewData["Title"] = "Home Page"; }

<div class="intro-banner" data-background-image="/content/images/landing-picture.jpg">
    <div class="container">
        <!-- Intro Headline -->
        <div class="row">
            <div class="col-md-12">
                <div class="banner-headline">
                    <h3>
                        Being ready to work with New Zealand companies
                    </h3>
                    <span><strong class="color">Global Apprentices Interns</strong> help you enhance your skills .</span>
                </div>
            </div>
        </div>

        <!-- Search Bar -->
        <div class="row">
            <div class="col-md-12">
                <div class="intro-banner-search-form margin-top-95">

                    <!-- Search Field -->
                    <div class="intro-search-field with-autocomplete">
                        <label for="autocomplete-input" class="field-title ripple-effect">Where?</label>
                        <div class="input-with-icon">
                            <select class="selectpicker" data-size="7">
                                <option disabled selected hidden>Select...</option>
                                <option>Auckland</option>
                                <option>Christchurch</option>
                                <option>Dunedin</option>
                                <option>Gisborne</option>
                                <option>Hamilton</option>
                                <option>Hawkes Bay</option>
                                <option>Invercargill</option>
                                <option>Nelson</option>
                                <option>New Plymouth</option>
                                <option>Northland</option>
                                <option>Palmerston North</option>
                                <option>Queenstown</option>
                                <option>Tauranga</option>
                                <option>Wellington</option>
                            </select>
                            <i class="icon-material-outline-location-on"></i>
                        </div>

                    </div>

                    <!-- Search Field -->
                    <div class="intro-search-field">
                        <label for="intro-keywords" class="field-title ripple-effect">What job / internships?</label>
                        <input id="intro-keywords" type="text" placeholder="Enter keywords">
                    </div>

                    <!-- Button -->
                    <div class="intro-search-button">
                        <button class="button ripple-effect" onclick="window.location.href="#">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stats -->
        <div class="row">
            <div class="col-md-12">
                <ul class="intro-stats margin-top-45 hide-under-992px">
                    <li>
                        <strong class="counter">1,689</strong>
                        <span>Internships Posted</span>
                    </li>
                    <li>
                        <strong class="counter">2,500</strong>
                        <span>Current vacancies Posted</span>
                    </li>
                    <li>
                        <strong class="counter">1,555</strong>
                        <span>Courses Posted</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- Content
================================================== -->
<!-- Category Boxes -->
<div class="section margin-top-65">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <div class="section-headline centered margin-bottom-15">
                    <h3>Job Categories</h3>
                </div>

                <!-- Category Boxes Container -->
                <div class="categories-container">

                    <!-- Category Box 1 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-calculator"></i>

                        </div>
                        <div class="category-box-counter">565</div>
                        <div class="category-box-content">
                            <h3>Accounting</h3>
                        </div>
                    </a>

                    <!-- Category Box 2 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-newspaper-o"></i>

                        </div>
                        <div class="category-box-counter">565</div>
                        <div class="category-box-content">
                            <h3>Administration & Office Support</h3>
                        </div>
                    </a>

                    <!-- Category Box 3 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-line-chart"></i>
                        </div>
                        <div class="category-box-counter">510</div>
                        <div class="category-box-content">
                            <h3>Advertising, Arts & Media</h3>
                        </div>
                    </a>

                    <!-- Category Box 4 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-bank"></i>
                        </div>
                        <div class="category-box-counter">510</div>
                        <div class="category-box-content">
                            <h3>Banking & Financial Services</h3>
                        </div>
                    </a>

                    <!-- Category Box 5 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-briefcase"></i>
                        </div>
                        <div class="category-box-counter">298</div>
                        <div class="category-box-content">
                            <h3>Call Centre & Customer Service</h3>
                        </div>
                    </a>

                    <!-- Category Box 6 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-flickr"></i>
                        </div>
                        <div class="category-box-counter">298</div>
                        <div class="category-box-content">
                            <h3>Community Services & Development</h3>
                        </div>
                    </a>

                    <!-- Category Box 7 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-truck"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Construction</h3>
                        </div>
                    </a>

                    <!-- Category Box 8 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-asterisk"></i>
                        </div>
                        <div class="category-box-counter">113</div>
                        <div class="category-box-content">
                            <h3>Consulting & Strategy</h3>
                        </div>
                    </a>

                    <!-- Category Box 9 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-building-o"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Design & Architecture</h3>
                        </div>
                    </a>

                    <!-- Category Box 10 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-pie-chart"></i>
                        </div>
                        <div class="category-box-counter">549</div>
                        <div class="category-box-content">
                            <h3>Education & Training</h3>
                        </div>
                    </a>

                    <!-- Category Box 11 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-connectdevelop"></i>
                        </div>
                        <div class="category-box-counter">873</div>
                        <div class="category-box-content">
                            <h3>Engineering</h3>
                        </div>
                    </a>

                    <!-- Category Box 12 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-bar-chart-o"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Farming, Animal & Conservation</h3>
                        </div>
                    </a>

                    <!-- Category Box 13 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-desktop"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Government & Defence</h3>
                        </div>
                    </a>

                    <!-- Category Box 14 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-medkit"></i>
                        </div>
                        <div class="category-box-counter">125</div>
                        <div class="category-box-content">
                            <h3>Health Care & Medical</h3>
                        </div>
                    </a>

                    <!-- Category Box 15 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-hotel"></i>
                        </div>
                        <div class="category-box-counter">445</div>
                        <div class="category-box-content">
                            <h3>Hospitality & Tourism</h3>
                        </div>
                    </a>

                    <!-- Category Box 16 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-area-chart"></i>
                        </div>
                        <div class="category-box-counter">852</div>
                        <div class="category-box-content">
                            <h3>Human Resources & Recruitment</h3>
                        </div>
                    </a>

                    <!-- Category Box 17 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-cloud-upload"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Information & Communication Technology</h3>
                        </div>
                    </a>

                    <!-- Category Box 18 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-money"></i>
                        </div>
                        <div class="category-box-counter">369</div>
                        <div class="category-box-content">
                            <h3>Insurance & Superannuation</h3>
                        </div>
                    </a>

                    <!-- Category Box 19 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-legal"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Legal</h3>
                        </div>
                    </a>

                    <!-- Category Box 20 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-car"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Manufacturing, Transport & Logistics</h3>
                        </div>
                    </a>

                    <!-- Category Box 21 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-commenting-o"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Marketing & Communication</h3>
                        </div>
                    </a>

                    <!-- Category Box 22 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-file-archive-o"></i>
                        </div>
                        <div class="category-box-counter">258</div>
                        <div class="category-box-content">
                            <h3>Mining, Resources & Energy</h3>
                        </div>
                    </a>

                    <!-- Category Box 23 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-home"></i>
                        </div>
                        <div class="category-box-counter">789</div>
                        <div class="category-box-content">
                            <h3>Real Estate & property</h3>
                        </div>
                    </a>

                    <!-- Category Box 24 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-shopping-cart"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Retail & Consumer Products</h3>
                        </div>
                    </a>

                    <!-- Category Box 25 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-diamond"></i>
                        </div>
                        <div class="category-box-counter">456</div>
                        <div class="category-box-content">
                            <h3>Sales</h3>
                        </div>
                    </a>

                    <!-- Category Box 26 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-file-code-o"></i>
                        </div>
                        <div class="category-box-counter">236</div>
                        <div class="category-box-content">
                            <h3>Science & Technology</h3>
                        </div>
                    </a>

                    <!-- Category Box 27 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-motorcycle"></i>
                        </div>
                        <div class="category-box-counter">445</div>
                        <div class="category-box-content">
                            <h3>Sport & Recreation</h3>
                        </div>
                    </a>

                    <!-- Category Box 28 -->
                    <a href="#" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-barcode"></i>
                        </div>
                        <div class="category-box-counter">123</div>
                        <div class="category-box-content">
                            <h3>Trade & Services</h3>
                        </div>
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Category Boxes / End -->


<!-- Features Internships -->
<div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <!-- Section Headline -->
                <div class="section-headline margin-top-0 margin-bottom-35">
                    <h3>Featured Internships</h3>
                    <a href="#" class="headline-link">Browse All Internships</a>
                </div>

                <!-- Jobs Container -->
                <div class="listings-container compact-list-layout margin-top-35">

                    <!-- Job Listing -->
                    <a href="#" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="/content/images/company-logo-01.jpg" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Summer Internship- Content Writer</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business"></i> XYZ company <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                        <li><i class="icon-material-outline-location-on"></i> Auckland</li>
                                        <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                        <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Log in for more details</span>
                        </div>
                    </a>


                    <!-- Job Listing -->
                    <a href="#" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="/content/images/company-logo-02.jpg" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Accountant internship</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business"></i>XYZ company</li>
                                        <li><i class="icon-material-outline-location-on"></i> Wellington</li>
                                        <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                        <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Log in for more details</span>
                        </div>
                    </a>
                    <!-- Job Listing -->
                    <a href="#" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="/content/images/company-logo-03.jpg" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Social Media internship</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business"></i> ABC company</li>
                                        <li><i class="icon-material-outline-location-on"></i>Auckland</li>
                                        <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                        <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Log in for more details</span>
                        </div>
                    </a>


                    <!-- Job Listing -->
                    <a href="#" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="/content/images/company-logo-04.jpg" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Marketing internship</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business"></i> ABC company <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                        <li><i class="icon-material-outline-location-on"></i>Christchurch</li>
                                        <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                        <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Log in for more details</span>
                        </div>
                    </a>

                    <!-- Job Listing -->
                    <a href="#" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="/content/images/company-logo-05.png" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Business Analyst internship</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business"></i> ABC company</li>
                                        <li><i class="icon-material-outline-location-on"></i>Wellington</li>
                                        <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                        <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Log in for more details</span>
                        </div>
                    </a>

                </div>
                <!-- Jobs Container / End -->

            </div>
        </div>
    </div>
</div>
<!-- Features Internships /End -->
<!-- Photo Section -->
<div class="photo-section" data-background-image="/content/images/home-bg.jpg">
    <!-- Infobox -->
    <div class="text-content white-font">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Internships are on offer to people <br> from all around the world.</h2>
                    <p>
                        to gain real work experience in New Zealand workforce, working with New Zealand companies. You will be working with New Zealand startup
                        companies which will help you enhance your skills and experience being ready to work with NZ's large corporates and Government Departments.
                    </p>
                    <a href="/Home/About" class="button button-sliding-icon ripple-effect big margin-top-20">About US <i class="icon-material-outline-arrow-right-alt"></i></a>
                </div>
            </div>

        </div>
    </div>
    <!-- Infobox / End -->
</div>
<!-- Photo Section / End -->
