@model Global_Intern.Models.User

@{
    ViewData["Title"] = "Register";
    var message = ViewBag.Message;
}

<div class="margin-top-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="login-register-page">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3 style="font-size: 26px;">Sign up to Apprentices Interns</h3>
                        <p>If you would like to be superviosr. please, leave your details and we will be in touch with you.</p>
                        <span>Already have an account? <a href="/Account/Login">Log In!</a></span>
                    </div>
                    <h3 style="color:green;">@ViewBag.Message</h3>

                    <!-- Form -->
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Account Type -->
                        <div class="account-type">
                            <div class="radio">
                                <input asp-for="Role.RoleId" type="radio" value="4" id="supervisor-radio" class="account-type-radio" checked>
                                <label for="supervisor-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i>Supervisor</label>
                            </div>
                        </div>


                        <div class="form-group">
                            <h5 id="tttFirst"></h5>
                            <label asp-for="UserFirstName" class="control-label">Your full name*</label>
                            <input required asp-for="UserFirstName" class="form-control" id="FirstNameInput"
                                   type="text">
                        </div>

                            <div class="form-group">
                                <h5 id="tttLast"></h5>
                                <label asp-for="UserLastName" class="control-label">Your last name*</label>
                                <input required asp-for="UserLastName" class="form-control" id="LastNameInput"
                                       type="text">
                                <span asp-validation-for="UserLastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <h5 id="tttEmail"></h5>
                                <label asp-for="UserEmail" class="control-label">Email address*</label>
                                <input required asp-for="UserEmail" id="EmailInput" type="email" class="form-control">
                                <span asp-validation-for="UserEmail" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <h5 id="tttPhone"></h5>
                                <label asp-for="UserPhone" class="control-label">Phone number*</label>
                                <input asp-for="UserPhone" id="PhoneInput" type="text" class="form-control">
                                <span asp-validation-for="UserPhone" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <h5 id="tttOccupation"></h5>
                                <label asp-for="Occupation" class="control-label">Your occupation*</label>
                                <input asp-for="Occupation" id="OccupationInput" type="text" class="form-control">
                                <span asp-validation-for="Occupation" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <h5 id="tttPassword"></h5>
                                <label asp-for="UserPassword" class="control-label">Password*</label>
                                <input required asp-for="UserPassword" id="PasswordInput" type="password"
                                       class="form-control">
                                <small id="passwordHelp" class="form-text text-muted">8 characters minimum</small>
                                <span asp-validation-for="UserPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <h5 id="tttCPassword"></h5>
                                <label asp-for="UserPassword" class="control-label">Re-enter your password*</label>
                                <input required asp-for="UserPassword" id="ConfirmPasswordInput" type="password"
                                       class="form-control">
                                <span asp-validation-for="UserPassword" class="text-danger"></span>
                            </div>

                            <a href="#" class="forgot-password">Forgot Password?</a>
                            <!-- Button -->
                            <input type="submit"
                                   class="button full-width button-sliding-icon ripple-effect margin-top-10"
                                   value="Register">

                    </form>

                    <!-- Social Login -->
                    <div class="back-to-home-separator">
                        <span>
                            <a asp-controller="Home" asp-action="Index">
                                Back to
                                Home!
                            </a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

