@model Global_Intern.Models.Course;
@{
    ViewData["Title"] = "CompleteProfile";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="content">
    <main>
        <div class="container-fluid">
            <form id="GeneralProfile" asp-action="CompanyDetails" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <section class="CourseDetails">
                    <div class="form-group">
                        <div class="row py-4">
                            <div class="col-lg-6">
                                <h1>Course details</h1>
                                <h3 style="color:green">@ViewBag.Message</h3>
                                @{ foreach (var item in ViewData["CoursesModel"] as dynamic)
                                    {
                                <div class="form-group">
                                    <label for="CourseTitle" asp-for="CourseTitle"></label>
                                </div>
                                        }
                                    }
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </main>
</div>
