

<div class="content">
    <main>
        <div class="container-fluid" style="margin-top:56px;">

            <!-- The courses view like card views. -->
            <div class="card">
                <a href="ASP.NET Core.html">
                    <img src="assets/course icon gifs/ASP.NET Core.gif"
                         class="card-img-top"
                         alt="ASP.NET Core" />
                </a>
                <div class="card-body">
                    <p class="card-text">ASP.NET Core</p>
                </div>
            </div>

            <div class="card">
                <a href="DBA.html">
                    <img src="assets/course icon gifs/DBA.gif"
                         class="card-img-top"
                         alt="DBA" />
                </a>
                <div class="card-body">
                    <p class="card-text">DBA</p>
                </div>
            </div>

        </div>
    </main>
</div>