

<div class="content">
    <main>
        <div class="container-fluid" style="margin-top:56px;">

            <!-- The courses view like card views. -->
            <h2> Courses Infomation </h2>
            <p>We offer these courses at evening or 1-to-1.</p>

            <div class="row">
                <div class="column">
                    <div class="card">
                        <h3>ASP.NET Core</h3>
                        <p id="CourseType">Evening Class </p>
                        <p id="CourseDuration">3 hours per week, 10 weeks</p>
                        <p id="CourseBody">Course time always be on Monday 7:30 - 9pm & Wednesday 7:30 - 9pm </p>
                        <p id="CourseFees">$30 per hour</p>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <h3>DBA</h3>
                        <p id="CourseType">1-to-1</p>
                        <p id="CourseDuration">10 hours per week, 4 weeks</p>
                        <p id="CourseBody">Students can booking in their own time. </p>
                        <p id="CourseFees">$30 per hour</p>
                    </div>
                </div>
            </div>


        </div>
    </main>
</div>
