



<h2>Teacher Details</h2>

<div class="card">
    <img src="/w3images/team2.jpg" alt="John" style="width:100%">
    <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
        <p> More than 10 years expeience as ASP.NET core developer at God IT. </p>

        <a class="bb" href="mailto:someone@example.com?Subject=Hello%20again" target="_top"> Contact </a>
    </div>
</div>
