
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container">
    <h2>Our Teacher in Training</h2>
    <p> These are our teachers lists. All of them are senior level positions at IT comapanies with large solutions done in the past several years. </p>
    <ul class="w3-ul w3-card-4">
        <li class="w3-bar">
            <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">¡Á</span>
            <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
                <span class="w3-large">John</span><br>
                <span>Architect & Engineer</span>
            </div>
        </li>

        <li class="w3-bar">
            <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">¡Á</span>
            <img src="img_avatar5.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
                <span class="w3-large">Jodan</span><br>
                <span>Senior Developer</span>
            </div>
        </li>
