

<div class="content">
    <main>
        <div class="container-fluid" style="margin-top:56px;">

            <!-- Index view has teachers with courses -->

            <h2>John Class</h2>
            <p><a href="">Monday 7 - 9 pm  Backend Dev</a></p>
            <p><a href="">Tuesday 7 - 9 Frontend Dev</a></p>

            <h2>Tuesday 7 - 9 pm </h2>
            <p><a href="">Wednesday 7 - 9 pm DBA</a></p>
            <p><a href="">Thursday 7 - 9 pm DA</a></p>

        </div>
    </main>
</div>
