@page
@model Global_Intern.Views.DashboardAdmin.AdminModel
@{
}


<h1> Admin View </h1>
        public static function admin_view_job($mysqli)
    {
        // session_start();

        $sql = "SELECT * FROM job";
        $result = $mysqli->query($sql) or die($mysqli->error);


        ?>
<table class="table table-hover table-sm table-light table-striped">
    <thead class="table-success">
        <tr>
            <th>Job ID</th>
            <th>Creater Customer ID</th>
            <th>Location</th>
            <th>Description</th>
            <th>Estimated Total Cost</th>
            <th>Job Start Date</th>
            <th>Job Expire Date</th>
            <th>Any Trademan Interested?</th>
            <th>Trademan's ID(if someone bid)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        <?php

        // while($res = $result->fetch(PDO::FETCH_ASSOC))
        foreach ($result as $key => $res)
        {


        ?>

        <div class="container-fluid">

            <tr>
                <td><?= $res['job_id']; ?> </td>
                <td><?= $res['user_id']; ?> </td>
                <td><?= $res['job_location']; ?> </td>
                <td><?= $res['job_description']; ?> </td>
                <td><?= $res['job_price']; ?> </td>
                <td><?= $res['job_start_date']; ?> </td>
                <td><?= $res['job_expire_date']; ?> </td>
                <td><?= $res['job_status']; ?> </td>
                <td><?= $res['trademan_id']; ?> </td>
                <td><a href="include/admin_delete.inc.php?job_id=<?php echo $res['job_id']?>" onClick="return confirm('Are you sure you want to delete?')">Delete</a></td>

            </tr>
        </div>

        <?php
        }?>
    </tbody>
</table>
        <?php
    }