@model Global_Intern.Models.GeneralProfile.GeneralProfile;
@{
    ViewData["Title"] = "CompleteProfile";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="content">
    <main>
        <div class="container-fluid" style="margin-top:56px;">
            <div id="GeneralProfile" asp-action="GeneralProfile" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h1>"XXX" Company Name</h1>

                <p>Hello Employer. Please upload a file that describe your company in a short paragragh. </p>

                <form action="/action_page.php">
                    <input type="file" id="myFile" name="filename">
                </form>



                <button onclick="myFunction()">Upload</button>

                <script>
                function myFunction() {
                    location.replace("https://localhost:44307/DashboardEmployer")
                }
                </script>
            </div>
        </div>

    </main>
</div>

