@model Global_Intern.Models.EmployerModels.EmployerCompanyModel;
@{
    ViewData["Title"] = "CompleteProfile";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="content">
    <main>
        <div class="container-fluid">
            <form id="GeneralProfile" asp-action="CompanyDetails" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @*<h1> Create An Internship </h1>
                <p> This page is for employers create an internship, fill in internship details and then 
                      post online ready for appliy. </p>*@


            </form>
        </div>
    </main>
</div>
