
@{
    ViewData["Title"] = "StudentProfile";
}

<h1 class="title">Student Profile View</h1>
<p class="title">The th element defines a header cell in a table:</p>
<body>
    <table style="width:100%">
        <tr>
            <th style="width:10%">StudentID</th>
            <th style="width:20%">Insurance Details</th>
            <th style="width:20%">User</th>
            <th style="width:30%">Field</th>
            <th style="width:30%">Internship</th>
        </tr>
        <tr>
            <td>1111111</td>
            <td>Full</td>
            <td>123##</td>
            <td>Full Stack</td>
            <td>3 Months</td>
        </tr>

        </table>
    </body>
