



<div class="topspace">
    <div class="container">
        <h1 class="card-title">About Us</h1>
        <p>
            Internships are on offer to people from all around the world to gain real work experience
            in New Zealand workforce, working with New Zealand companies. You will be working with New Zealand
            startup companies which will help you enhance your skills and experience being ready to work
            with NZ's large corporates and Government Departments.
        </p>


        <h4 class="card-title">About Our City</h4>
        <p>
            Internships are on offer to people from all around the world to gain real work experience
            in New Zealand workforce, working with New Zealand companies. You will be working with New Zealand
            startup companies which will help you enhance your skills and experience being ready to work
            with NZ's large corporates and Government Departments.
        </p>


        <h4 class="card-title">About GlobalIntern</h4>
        <p>
            Internships are on offer to people from all around the world to gain real work experience
            in New Zealand workforce, working with New Zealand companies. You will be working with New Zealand
            startup companies which will help you enhance your skills and experience being ready to work
            with NZ's large corporates and Government Departments.
        </p>


    </div>
</div>
