
@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="container text-center">
        <div class="card-header">
            <h4 class="card-title">About</h4>
            <div class="card-body">
                <p>Internships are on offer to people from all around the world to gain real work experience in New Zealand workforce, working with New Zealand companies. You will be working with New Zealand startup companies which will help you enhance your skills and experience being ready to work with NZ's large corporates and Government Departments.</p>
            </div>
        </div>
    </div>
</div>