<form action="/action_page.php" style="max-width:500px;margin:auto">
  <h2 class="apply1">Apply Intern Form</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Full Name" name="fn">
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="phone" placeholder="Phone Number" name="phone">
  </div>

  <button type="submit" class="btn">Send Details</button>
</form>
