
@{
    ViewData["Title"] = "ContactUs";
}

<div style="padding-left: 470px; padding-top: 130px;">
    <div class="card" style="width: 30rem;">
        <div class="card-header" style="width: 30rem;">
            <h style="align-content: center">Contact Us</h>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <input type="email" name="email" class="form-control my-input" id="cpass" placeholder="Email Address">
            </li>
            <li class="list-group-item"><input type="email" name="email" class="form-control my-input" id="cpass" placeholder="Message"></li>
            <li class="list-group-item"><input type="email" name="email" class="form-control my-input" id="cpass" placeholder="Your question"></li>

        </ul>
        <button class="btn btn-success">Submit</button>
    </div>
</div>

