@{
    ViewData["Title"] = "Home Page";
}

<img src="https://www.office2u.co.nz/images/2234/1920/banner-01.jpg" alt="doc" class="img-fluid" alt="Responsive image">

<!-- Search Box-->
<div class="row">
    <div class="col-xl-8">
        <!-- form -->
        <form action="#" class="search-box">
            <div class="input-form">
                <input type="text" placeholder="Enter keywords...">
            </div>
            <div class="select-form">
                <div class="select-itms">
                    <select>
                        <option value="">Auckland</option>
                        <option value="">Wellington</option>
                        <option value="">Christchurch</option>
                        <option value="">Hamilton</option>
                    </select>
                </div>
            </div>
            <div class="search-form">
                <a href="#">Search</a>
            </div>
        </form>
    </div>
</div>
<div class="container text-center">
    <div class="card-header">
        <h3 class="card-title">Popular Courses</h3>
        <div>
            <div class="browse-jobs">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">More</button>
            </div>
            <div class="card-body">
                <button class="btn btn-secondary" type="submit" style="height: 200px; width: 200px">Web development</button>
                <input class="btn btn-secondary" type="button" value="Finance" style="height: 200px; width: 200px">
                <input class="btn btn-secondary" type="submit" value="Nursing" style="height: 200px; width: 200px">
                <input class="btn btn-secondary" type="reset" value="Digital Marketing" style="height: 200px; width: 200px">
            </div>
        </div>
    </div>

    <div class="container card-body text-center">
        <h3 class="card-title">Internships</h3>
        <div class="browse-jobs">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">More</button>
        </div>
        <div class="card-body">
            <input class="btn btn-secondary" type="button" value="job 1" style="height: 200px; width: 200px">
            <input class="btn btn-secondary" type="submit" value="job 2" style="height: 200px; width: 200px">
            <input class="btn btn-secondary" type="button" value="job 3" style="height: 200px; width: 200px">
            <input class="btn btn-secondary" type="reset" value="job 4" style="height: 200px; width: 200px">
        </div>
    </div>

    <!-- About Us -->

    <div class="card-body text-center">
        <header>
            <h3>About Us</h3>
        </header>
        <p>Internships are on offer to people from all around the world to gain real work experience in New Zealand workforce, working with New Zealand companies. You will be working with New Zealand startup companies which will help you enhance your skills and experience being ready to work with NZ's large corporates and Government Departments.</p>
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Learn More</button>
    </div>


    <!-- Get in Touch -->
    <div id="footer">
        <h2>Get in Touch</h2>
        <div class="contact-form">
            <div class="contact-form-title">

            </div>
            <form action="#">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="email" name="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="col-12">
                        <input type="text" name="subject" class="form-control" placeholder="Subject">
                    </div>
                    <div class="col-12">
                        <textarea name="message" class="form-control" id="Message" cols="30" rows="10" placeholder="Your Message"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Send Messsage</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
