
@model Global_Intern.Models.StudentModels.ApplyInternship
@{
    ViewData["Title"] = "InternshipApply";
}


	 <body>

    <h1 class="dpt"> Apply This Positon</h1>

        <h3> Software Developer</h3>
        <p>@@UserFirstName + @@UserLastName </p>
        <p>@@UserPhone </p>
        <p>@@UserEmail </p>

        <!-- Here is section of Resume -->
        <div class="row">
            <div class="side">
                <h3>Resumé</h3>
                <form>
                    <label for="cv">Choose a resume:</label>
                    <select name="cv" id="cv">
                        <option value="select">Select a resume on our website</option>
                        <option value="upload">Upload a new resume</option>
                        <option value="dont">Do not include a resume</option>
                    </select>
                    <br><br>
                </form>
            </div>
        </div>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
        </form>

        <!-- Here is section of Covering letter -->
        <div class="row">
            <div class="side">
                <h3>Cover Letter</h3>
                <form>
                    <label for="cl">Choose a covering letter:</label>
                    <select name="cl" id="cl">
                        <option value="select">Select a cover letter on our website</option>
                        <option value="upload">Upload a new cover letter</option>
                        <option value="dont">Do not include a cover letter</option>
                    </select>
                    <br><br>
                </form>
            </div>
        </div>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
        </form>

        <input type="submit" value="Submit">

</body>

