
@model Global_Intern.Models.StudentModels.ApplyInternship
@{
    ViewData["Title"] = "InternshipApply";
}

@{
    Internship intern = ViewData["intern"] as Internship;
}

<div class="topAplyBnr container-fluid">
    <h6>Applying to </h6>
    <h1>@intern.InternshipTitle</h1>
</div>
<div class="container">
    <form id="ApplyInternFrom" method="post" enctype="multipart/form-data">
        <h1>Please select your documents to apply with</h1>
        <div class="input-group mb-3">
            @* UPLOAD *@
            <div class="custom-file">
                <input required class="custom-file-input" id="TemporaryCV" asp-for="TemporaryCV">
                <label class="custom-file-label" for="TemporaryCV">Choose CV</label>
            </div>
        </div>
        <div class="form-group form-check">
            @* CHECKBOX *@
            <input type="checkbox" class="form-check-input" id="isCVExisting" asp-for="isCVExisting">
            <label class="form-check-label" for="isCVExisting">Use Existing CV.</label>
        </div>
        <div class="input-group mb-3">
            @* UPLOAD *@
            <div class="custom-file">
                <input required class="custom-file-input" id="TemporaryCL" asp-for="TemporaryCL">
                <label class="custom-file-label" for="TemporaryCL">Choose Cover Letter</label>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isCLExisting" asp-for="isCLExisting">
            <label class="form-check-label" for="isCLExisting">Use existing Cover Letter.</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isCLTextArea" asp-for="isCLTextArea">
            <label class="form-check-label" for="isCLExisting">Write Cover letter here</label>
        </div>
        <div class="form-group form-check">
            <textarea style="width:100%; padding:10px; display:none;" class="WrittenCL" id="WrittenCL" rows="20" asp-for="WrittenCL"></textarea>
        </div>
        <div class="input-group mb-3">
            <input type="submit" class="btn btn-primary" value="Submit Application" />
        </div>
    </form>

</div>


@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#isCLTextArea').change(function () {
                if (this.checked) {
                    $('#WrittenCL').prop("disabled", false);
                    $('#WrittenCL').show();
                    $('#TemporaryCL').prop("disabled", true);
                    $('#isCLExisting').prop("disabled", true);
                }
                else {
                    $('#WrittenCL').prop("disabled", true);
                    $('#WrittenCL').hide();
                    $('#TemporaryCL').prop("disabled", false);
                    $('#isCLExisting').prop("disabled", false);
                }

            });

            $('#isCVExisting').change(function () {
                if (this.checked) {
                    $('#TemporaryCV').prop("disabled", true);
                }
                else {
                    $('#TemporaryCV').prop("disabled", false);
                }

            });
            $('#isCLExisting').change(function () {
                if (this.checked) {
                    $('#TemporaryCL').prop("disabled", true);
                    $('#isCLTextArea').prop("disabled", true);
                }
                else {
                    $('#TemporaryCL').prop("disabled", false);
                    $('#isCLTextArea').prop("disabled", false);
                }
            });
        });
    </script>
}