
@{
    ViewData["Title"] = "InternshipApply";
}

<h1>InternshipApply</h1>

<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="footer-distributed-with-address-and-phones.css">
	<link rel="stylesheet" href="Main-2.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
	
	

	 <head>
		<title> Intern </title>        
	 </head>	

	
		<body>



			<h1 class="dpt">Internship</h1>
			<style>
				table, th, td {
				  border: 1px solid black;
				  text-align: center;
				}
				</style>
          		<table>
  				  	<tr>
    					<th>Internship Title :</th>
    					<td>Software Engineer Intern (.NET)</td>
  				   	</tr>
  					<tr>
    					<th>Internship Type:</th>  
    					<td>WEB / PROGRAMMING</td>      
  					</tr>  
  					<tr>
    					<th>Internship Duration:</th>
    					<td>3-6 Months</td>
					</tr>



					<tr>
    					<th>Internship Body :</th>
    					<td>  <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. " +
							"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer " +
							"took a galley of type and scrambled it to make a type specimen book. It has survived not only five " +
							"centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was " +
							"popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more " +
							"recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. -->  </td> 
  				   	</tr>
  					<tr>
    					<th>Internship Virtual:</th>  
    					<td>false</td>      
  					</tr>  
  					<tr>
    					<th>Internship Paid:</th>
    					<td> Is Paid </td>
					</tr>
					  


					<tr>
    					<th>Internship Created At:</th>  
    					<td>DateTime.UtcNow</td>      
  					</tr>  
  					<tr>
    					<th>Internship Email:</th>
    					<td> nnjkawd@g.com </td>
  					</tr>
				</table>
				
		</body>
</html>
