@{
    ViewData["Title"] = "StudentProfileView";
}


<body>

    <h1>Student Profile View</h1>

    <table style="width:100%">
        <tr>
            <th style="width:30%">StudentID</th> 
            <th style="width:30%">Insurance Details</th>
            <th style="width:30%">User</th>
            <th style="width:30%">Internship</th>
        </tr>
        <tr>
            <td>1111111</td>
            <td>Full</td>
            <td>123##</td>
            <td>3 Months</td>
        </tr>

    </table>

</body>

</html>
