@model Global_Intern.Models.RegisterationEmployer

@{
    ViewData["Title"] = "Register";
}


<div class="margin-top-70">

    <div class="container">
        <div class="row">
            
            <div class="col-xl-5 offset-xl-3">
                <div class="login-register-page">
                    <!-- Welcome Text -->
                    <div class="welcome-text text-center">
                        <h3 style="font-size: 26px;">Sign up</h3>
                        <span>We welcome all New Zealand employers to join us. Please, leave your details and we will be in touch with you.</span>
                        <span>Already have an account? <a href="/Account/Login">Log In!</a></span>
                    </div>
                    <h3 style="color:green;">@ViewBag.Message</h3>

                    <!-- Form -->
                    <form asp-action="RegisterEmployer" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Account Type -->
                        <div class="account-type">
                            <div class="radio">
                                <input asp-for="Role.RoleId" type="radio" value="1" id="student-radio" onclick="student();" class="account-type-radio" />
                                <label for="student-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Student</label>
                            </div>
                            <div class="radio">
                                <input asp-for="Role.RoleId" type="radio" value="2" id="employer-radio" onclick="employer();" class="account-type-radio" checked />
                                <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
                            </div>
                            <div class="radio">
                                <input asp-for="Role.RoleId" type="radio" value="3" id="institute-radio" onclick="institute();" class="account-type-radio" />
                                <label for="institute-radio" class="ripple-effect-dark"><i class="icon-material-outline-location-city"></i> Institute </label>
                            </div>
                            <div class="radio">
                                <input asp-for="Role.RoleId" type="radio" value="4" id="supervisor-radio" onclick="supervisor();" class="account-type-radio" />
                                <label for="supervisor-radio" class="ripple-effect-dark"><i class="icon-material-outline-school"></i> Supervisor </label>
                            </div>
                        </div>

                        <div>
                            <div class="firstName">
                                <span asp-validation-for="UserFirstName" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-material-outline-person-pin"></i>
                                    <h5 id="tttFirst"></h5>
                                    <label asp-for="UserFirstName" hidden class="control-label"></label>
                                    <input required asp-for="UserFirstName" id="FirstNameInput" type="text" class="input-text with-border" placeholder="Your full name" />
                                </div>
                            </div>
                            <div class="lastName">
                                <span asp-validation-for="UserLastName" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-material-outline-person-pin"></i>
                                    <h5 id="tttLast"></h5>
                                    <label asp-for="UserLastName" hidden class="control-label"></label>
                                    <input required asp-for="UserLastName" id="UserLastNameInput" type="text" class="input-text with-border" placeholder="Your last name" />
                                </div>
                            </div>
                            <div class="email">
                                <span asp-validation-for="UserEmail" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-material-baseline-mail-outline"></i>
                                    <h5 id="tttEmail"></h5>
                                    <label asp-for="UserEmail" hidden class="control-label"></label>
                                    <input required asp-for="UserEmail" id="EmailInput" type="email" class="form-control" placeholder="Email address" />
                                </div>
                            </div>
                            <div class="phoneno">
                                <span asp-validation-for="UserPhone" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-feather-phone"></i>
                                    <h5 id="tttPhone"></h5>
                                    <label asp-for="UserPhone" hidden class="control-label"></label>
                                    <input required asp-for="UserPhone" id="PhoneInput" type="tel" class="form-control" placeholder="Phone number" />
                                </div>
                            </div>
                            <div class="Organization">
                                <span asp-validation-for="UserOrganization" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-material-outline-account-balance"></i>
                                    <h5 id="tttOrganization"></h5>
                                    <label asp-for="UserOrganization" hidden class="control-label"></label>
                                    <input required asp-for="UserOrganization" id="UserOrganizationInput" type="text" class="form-control" placeholder="Organization name " />
                                </div>
                            </div>
                            <div class="NZBN">
                                <span asp-validation-for="UserNZBN" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-material-outline-business"></i>
                                    <h5 id="tttNZBN"></h5>
                                    <label asp-for="UserNZBN" hidden class="control-label"></label>
                                    <input required asp-for="UserNZBN" id="UserNZBNInput" type="tel" class="form-control" placeholder="NZBN Number " />
                                </div>
                            </div>
                            <div class="Employees">
                                <span asp-validation-for="UserEmployees" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-material-outline-supervisor-account"></i>
                                    <label asp-for="UserEmployees" hidden class="control-label"></label>
                                    <div class="input-text with-border ">
                                        <select asp-for="UserEmployees" id="UserEmployeesInput" style="padding: 0px 0px 0px 65px;">
                                            <option value="" disabled selected>How many New zeland-based employees does your organization have?</option>
                                            <option value="1"> 1 - 5 </option>
                                            <option value="2"> 6 - 9 </option>
                                            <option value="3"> 10 - 19</option>
                                            <option value="4"> 20 - 49</option>
                                            <option value="5"> 50 - 99</option>
                                            <option value="6"> 100 - 499</option>
                                            <option value="7"> 500 - 999</option>
                                            <option value="8"> 1000 - 4999</option>
                                            <option value="9"> 5000 - 9999</option>
                                            <option value="10"> 10000+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="Industry">
                                <span asp-validation-for="UserIndustry" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-material-outline-location-city"></i>
                                    <label asp-for="UserIndustry" hidden class="control-label"></label>
                                    <div class="input-text with-border " style="margin: 0px 0px 19px 48px;">
                                        <select class="selectpicker" multiple asp-for="UserIndustry" id="UserIndustryInput" title="Industry...">
                                            <option value="1">Accounting  </option>
                                            <option value="2">Administration & Office Support  </option>
                                            <option value="3">Advertising, Arts & Media </option>
                                            <option value="4">Banking & Financial Services </option>
                                            <option value="5">Call Centre & Customer Service  </option>
                                            <option value="6">Community Services & Development  </option>
                                            <option value="7">Construction  </option>
                                            <option value="8">Consulting & Strategy  </option>
                                            <option value="9">Design & Architecture  </option>
                                            <option value="10">Education & Training </option>
                                            <option value="11">Engineering  </option>
                                            <option value="12">Farming, Animal & Conservation   </option>
                                            <option value="13">Government & Defense  </option>
                                            <option value="14">Healthcare & Medical  </option>
                                            <option value="15">Hospitality & Tourism  </option>
                                            <option value="16">Human Resources & Recruitment  </option>
                                            <option value="17">Information & Communication Technology </option>
                                            <option value="18">Insurance & Superannuation  </option>
                                            <option value="19">Legal </option>
                                            <option value="20">Manufacturing, Transport & Logistics </option>
                                            <option value="21">Marketing & Communications </option>
                                            <option value="22">Mining, Resources & Energy </option>
                                            <option value="23">Real Estate & Property     </option>
                                            <option value="24">Retail & Consumer Products </option>
                                            <option value="25">Sales </option>
                                            <option value="26">Science & Technology </option>
                                            <option value="27">Sport & Recreation </option>
                                            <option value="28">Trade & Services  </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="password">
                                <span asp-validation-for="UserPassword" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-material-outline-lock"></i>
                                    <h5 id="tttPassword"></h5>
                                    <label asp-for="UserPassword" hidden class="control-label"></label>
                                    <input required asp-for="UserPassword" id="PasswordInput" type="password" class="form-control" placeholder="Password" />

                                </div>
                            </div>
                            <div class="cpassword">
                                <span asp-validation-for="UserCPassword" class="error"></span>
                                <div class="input-with-icon-left">
                                    <i class="icon-material-outline-lock"></i>
                                    <h5 id="tttCPassword"></h5>
                                    <label asp-for="UserCPassword" hidden class="control-label"></label>
                                    <input required asp-for="UserCPassword" id="ConfirmPasswordInput" type="password" class="form-control" placeholder="Re-enter your Password" />
                                </div>
                            </div>
                            <div class="g-recaptcha" data-sitekey="@ViewBag.key"></div>
                        </div>


                        <!-- Button -->
                        <input type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-10" value="Register">

                    </form>

                    <!-- Social Login -->
                    <div class="back-to-home-separator"><span><a asp-controller="Home" asp-action="Index">Back to Home!</a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function employer() {
        window.location.replace("/Account/RegisterEmployer");
    }
    function student() {
        window.location.replace("/Account/RegisterStudent");
    }
    function institute() {
        window.location.replace("/Account/RegisterInstitute");
    }
    function supervisor() {
        window.location.replace("/Account/RegisterSupervisor");
    }

   
</script>

