body {
    height: auto;
    margin: auto, 0, 0, 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
}

h2, h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
    color: white;
    font-weight: bold;
    z-index: 1;
    position: relative;
}
.navbar {
    width: 100%;
    position: fixed;
    z-index: 10;
}

search-form.a:hover{
    text-decoration: none
}

.select-form{
    position: relative;
    z-index: 2
}
select {
  width: 100%;
  font-size: 110%;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
  border: none;
  color: #616875;
  appearance: none;
  padding: 15px 25px;
}

select:hover,
select:focus {
  color: #E46854;
  background-color: transparent;
}

form.search-box {
    box-shadow: 0px 6px 29px 0px rgba(36, 43, 94, 0.08);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    
}

form.search-box .input-form {
    width: 45%;
    position: relative
}

@media (max-width: 767px) {
    form.search-box .input-form {
        width: 100%
    }
}

form.search-box .input-form input {
    height: 70px;
    width: 100%;
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 33px 9px 23px;
    border: none;
    border-radius: 0px;
    position: relative
}

@media (max-width: 767px) {
    form.search-box .input-form input {
        margin-bottom: 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    form.search-box .input-form input {
        padding: 9px 33px 9px 25px;
        margin-bottom: 20px
    }
}

form.search-box .input-form input::placeholder {
    color: #616875
}

@media (max-width: 767px) {
    form.search-box .input-form input::placeholder {
        font-size: 17px;
        padding-left: 14px
    }
}

form.search-box .input-form::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 51px;
    background: #e0e4f8;
    right: 22px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%)
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    form.search-box .input-form::before {
        display: none
    }
}

@media (max-width: 767px) {
    form.search-box .input-form::before {
        display: none
    }
}

form.search-box .select-form {
    width: 34%;
    padding: 9px 33px 9px 10px;
}

@media (max-width: 767px) {
    form.search-box .select-form {
        width: 100%;
        padding-top: 2px;
    }
}

form.search-box .search-form {
    width: 21%
}

@media (max-width: 767px) {
    form.search-box .search-form {
        width: 100%;
    }
}

form.search-box .search-form a {
    width: 100%;
    height: 70px;
    background: #ED4226;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #fff;
    display: block;
    padding: 15px;
    border-radius: 0px;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    line-height: 1.2;
    line-height: 38px;
    font-size: 16px
}

.tab {
    padding: 35px;
    background-color: #E46854;
}

.container{
    padding:30px 20px;
}


/* Login*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.login-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #E46854;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #E46854;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
    font-family: "poppins",sans-serif;
	transition: .3s;
}

a:hover{
	color: #E46854;
}

.login-btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #E46854, #F79A8B, #E46854);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.login-btn:hover{
	background-position: right;
}

.login-btn-back{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #A2A2A2, #B5B5B5, #A2A2A2);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn-back:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.login-container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	login-form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.login-container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

/* Footer */
#footer {
    height:auto;
    background-color: #E46854;
    color: #ffffff;
    padding: 4em 0 2em 0;
    background: #E46854;
}

#footer input[type="text"],
#footer input[type="password"],
#footer input[type="email"],
#footer textarea {
    background: none;
    border-color: rgba(255, 255, 255, 0.25);
}

#footer .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
}


p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #7A838B;
    margin-bottom: 13px;
    font-family: "Roboto", sans-serif;
}

/* Job Listing page*/

.boxed-btn1:hover {
    color: #E46854;
    border: 1px solid #E46854;
    background: transparent;
}

.boxed-btn1:focus {
    outline: none;
}

.job_listing_area {
    background: #F5F7FA;
    padding-bottom: 80px;
}

.job_listing_area.plus_padding {
    padding-top: 100px;
}

@media (max-width: 767px) {
    .job_listing_area.plus_padding {
        padding-top: 60px;
    }
}

.job_listing_area .job_lists {
    margin-top: 50px;
}

.job_listing_area .job_lists .single_jobs {
    padding: 30px;
    margin-bottom: 12px;
    border: 1px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs {
        display: block;
    }
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_left {
        display: block;
        overflow: hidden;
    }
}


@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat {
        display: block;
    }
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_right .apply_now {
        margin: 10px 0;
    }
}

.job_listing_area .job_lists .single_jobs .jobs_right .apply_now a.boxed-btn3 {
    padding: 9px 27px 9px 27px;
    font-size: 14px;
}

.job_listing_area .job_lists .single_jobs .jobs_right .date {
    text-align: right;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_right .date {
        text-align: left;
    }
}

.job_listing_area .job_lists .single_jobs .jobs_right .date p {
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
    color: #7A838B;
}

.job_listing_area .job_filter {
    padding: 03px;
    display: block;
}

.job_listing_area .job_filter h3 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #001D38;
    font-weight: 400;
}

/* pagination*/
.pagination_wrap {
    text-align: center;
    margin-top: 20px;
}

.pagination_wrap li {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #EAEAEA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    display: inline-block;
    color: #AAB1B7;
    font-size: 14px;
    margin: 0 4px;
}


