html,
body,
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 10;
}

search-form.a:hover{
    text-decoration: none
}

.select-form{
    position: relative;
    z-index: 2
}
select {
  width: 100%;
  font-size: 110%;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
  border: none;
  color: #616875;
  appearance: none;
  padding: 15px 25px;
}

select:hover,
select:focus {
  color: #E46854;
  background-color: transparent;
}

form.search-box {
    box-shadow: 0px 6px 29px 0px rgba(36, 43, 94, 0.08);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    
}

form.search-box .input-form {
    width: 45%;
    position: relative
}

@media (max-width: 767px) {
    form.search-box .input-form {
        width: 100%
    }
}

form.search-box .input-form input {
    height: 70px;
    width: 100%;
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 33px 9px 23px;
    border: none;
    border-radius: 0px;
    position: relative
}

@media (max-width: 767px) {
    form.search-box .input-form input {
        margin-bottom: 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    form.search-box .input-form input {
        padding: 9px 33px 9px 25px;
        margin-bottom: 20px
    }
}

form.search-box .input-form input::placeholder {
    color: #616875
}

@media (max-width: 767px) {
    form.search-box .input-form input::placeholder {
        font-size: 17px;
        padding-left: 14px
    }
}

form.search-box .input-form::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 51px;
    background: #e0e4f8;
    right: 22px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%)
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    form.search-box .input-form::before {
        display: none
    }
}

@media (max-width: 767px) {
    form.search-box .input-form::before {
        display: none
    }
}

form.search-box .select-form {
    width: 34%;
    padding: 9px 33px 9px 10px;
}

@media (max-width: 767px) {
    form.search-box .select-form {
        width: 100%;
        padding-top: 2px;
    }
}

form.search-box .search-form {
    width: 21%
}

@media (max-width: 767px) {
    form.search-box .search-form {
        width: 100%;
    }
}

form.search-box .search-form a {
    width: 100%;
    height: 70px;
    background: #ED4226;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #fff;
    display: block;
    padding: 15px;
    border-radius: 0px;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    line-height: 1.2;
    line-height: 38px;
    font-size: 16px
}

.tab {
    padding: 35px;
    background-color: #E46854;
}

.container{
    padding:30px 20px;
}

/* Footer */
#footer {
    background-color: #E46854;
    color: #ffffff;
    padding: 4em 0 2em 0;
    background: #E46854;
}

#footer input[type="text"],
#footer input[type="password"],
#footer input[type="email"],
#footer textarea {
    background: none;
    border-color: rgba(255, 255, 255, 0.25);
}

#footer .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    color: #191d34;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #7A838B;
    margin-bottom: 13px;
    font-family: "Roboto", sans-serif;
}

/* Job Listing page*/

.boxed-btn1:hover {
    color: #E46854;
    border: 1px solid #E46854;
    background: transparent;
}

.boxed-btn1:focus {
    outline: none;
}

.job_listing_area {
    background: #F5F7FA;
    padding-bottom: 80px;
}

.job_listing_area.plus_padding {
    padding-top: 100px;
}

@media (max-width: 767px) {
    .job_listing_area.plus_padding {
        padding-top: 60px;
    }
}

.job_listing_area .job_lists {
    margin-top: 50px;
}

.job_listing_area .job_lists .single_jobs {
    padding: 30px;
    margin-bottom: 12px;
    border: 1px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs {
        display: block;
    }
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_left {
        display: block;
        overflow: hidden;
    }
}


@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat {
        display: block;
    }
}

.job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_right .apply_now {
        margin: 10px 0;
    }
}

.job_listing_area .job_lists .single_jobs .jobs_right .apply_now a.boxed-btn3 {
    padding: 9px 27px 9px 27px;
    font-size: 14px;
}

.job_listing_area .job_lists .single_jobs .jobs_right .date {
    text-align: right;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .job_listing_area .job_lists .single_jobs .jobs_right .date {
        text-align: left;
    }
}

.job_listing_area .job_lists .single_jobs .jobs_right .date p {
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
    color: #7A838B;
}

.job_listing_area .job_filter {
    padding: 03px;
    display: block;
}

.job_listing_area .job_filter h3 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #001D38;
    font-weight: 400;
}

/* pagination*/
.pagination_wrap {
    text-align: center;
    margin-top: 20px;
}

.pagination_wrap li {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #EAEAEA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    display: inline-block;
    color: #AAB1B7;
    font-size: 14px;
    margin: 0 4px;
}



