@{
    ViewData["Title"] = "Job Categories";
}


    <!-- Header Container / End -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Job Category Name</h2>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 content-left-offset">

                <div class="input-with-icon  with-autocomplete">
                    <input id="intro-keywords" type="text" placeholder="Search with in category">
                    <i class="icon-feather-search"></i>
                </div>


                <div class="row">
                    <!-- Location -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="sidebar-widget">
                            <select class="selectpicker default" multiple data-selected-text-format="count" data-size="7" title="All Locations">
                                <option>Auckland</option>
                                <option>Christchurch</option>
                                <option>Dunedin</option>
                                <option>Gisborne</option>
                                <option>Hamilton</option>
                                <option>Hawkes Bay</option>
                                <option>Invercargill</option>
                                <option>Nelson</option>
                                <option>New Plymouth</option>
                                <option>Palmerston North</option>
                                <option>Queenstown</option>
                                <option>Tauranga</option>
                                <option>Wellington</option>
                            </select>
                        </div>
                    </div>
                    <!-- job types -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="sidebar-widget">
                            <select class="selectpicker default" multiple data-selected-text-format="count" data-size="7" title="Job type">
                                <option>Full time</option>
                                <option>Part time</option>
                                <option>Casual </option>
                                <option>Internships</option>
                                <option>Apprenticeships </option>
                                <option>Work placement</option>
                            </select>
                        </div>
                    </div>
                    <!-- Featured job -->

                    <div class="col-xl-4 col-lg-4">
                        <div class="sidebar-widget">
                            <select class="selectpicker default" multiple data-selected-text-format="count" data-size="7" title="Featured job">
                                <option>Best match</option>
                                <option>Latest job </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="listings-container margin-top-35">

                    <!-- Job Listing -->
                    <div class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h2 class="job-listing-title">Job title</h2>
                                <h3 class="job-listing-company">Company name</h3>
                                <span class="icon-material-outline-location-on">Location</span>
                                <p class="job-listing-text">
                                    • Join Growing Business<br />
                                    • Fun team culture, and a company who looks after their staff<br />
                                    • The oppurtunity to develop your carrier<br />
                                </p>
                            </div>
                            <!-- time -->
                            <span class="icon-material-outline-access-time">2 days ago</span>
                        </div>
                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer">
                            <div class="job-listing-description">
                                <p class="job-listing-text" style="text-align:center;margin-bottom: 10px;">We are looking for someone to join our team.</p>
                            </div>
                            <div class="row">
                                <div class=" col-xl-6 col-lg-6">
                                    <div class="job-listing-company-logo">
                                        <img src="~/content/images/company-logo-01.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6">
                                    <a href="/Home/JobSinglePage" class="button button-sliding-icon ripple-effect" style="float:right;margin-top: 10px;">View job <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Job Listing -->
                    <div class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h2 class="job-listing-title">Job title</h2>
                                <h3 class="job-listing-company">Company name</h3>
                                <span class="icon-material-outline-location-on">Location</span>
                                <p class="job-listing-text">
                                    • Join Growing Business<br />
                                    • Fun team culture, and a company who looks after their staff<br />
                                    • The oppurtunity to develop your carrier<br />
                                </p>
                            </div>
                            <!-- time -->
                            <span class="icon-material-outline-access-time"> 2 days ago</span>
                        </div>
                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer">
                            <div class="job-listing-description">
                                <p class="job-listing-text" style="text-align:center;margin-bottom: 10px;">We are looking for someone to join our team.</p>
                            </div>
                            <div class="row">
                                <div class=" col-xl-6 col-lg-6">
                                    <div class="job-listing-company-logo">
                                        <img src="~/content/images/company-logo-02.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6">
                                    <a href="/Home/JobSinglePage" class="button button-sliding-icon ripple-effect" style="float:right;margin-top: 10px;">View job <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Job Listing -->
                    <div class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h2 class="job-listing-title">Job title</h2>
                                <h3 class="job-listing-company">Company name</h3>
                                <span class="icon-material-outline-location-on">Location</span>
                                <p class="job-listing-text">
                                    • Join Growing Business<br />
                                    • Fun team culture, and a company who looks after their staff<br />
                                    • The oppurtunity to develop your carrier<br />
                                </p>
                            </div>
                            <!-- time -->
                            <span class="icon-material-outline-access-time"> 2 days ago</span>
                        </div>
                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer">
                            <div class="job-listing-description">
                                <p class="job-listing-text" style="text-align:center;margin-bottom: 10px;">We are looking for someone to join our team.</p>
                            </div>
                            <div class="row">
                                <div class=" col-xl-6 col-lg-6">
                                    <div class="job-listing-company-logo">
                                        <img src="~/content/images/company-logo-03.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6">
                                    <a href="/Home/JobSinglePage" class="button button-sliding-icon ripple-effect" style="float:right;margin-top: 10px;">View job <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Job Listing -->
                    <div class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h2 class="job-listing-title">Job title</h2>
                                <h3 class="job-listing-company">Company name</h3>
                                <span class="icon-material-outline-location-on">Location</span>
                                <p class="job-listing-text">
                                    • Join Growing Business<br />
                                    • Full team culture, and a company who looks after their staff<br />
                                    • The oppurtunity to develop your carrier<br />
                                </p>
                            </div>
                            <!-- time -->
                            <span class="icon-material-outline-access-time"> 2 days ago</span>
                        </div>
                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer">
                            <div class="job-listing-description">
                                <p class="job-listing-text" style="text-align:center;margin-bottom: 10px;">We are looking for someone to join our team.</p>
                            </div>
                            <div class="row">
                                <div class=" col-xl-6 col-lg-6">
                                    <div class="job-listing-company-logo">
                                        <img src="~/content/images/company-logo-04.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6">
                                    <a href="/Home/JobSinglePage" class="button button-sliding-icon ripple-effect" style="float:right;margin-top: 10px;">View job <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Pagination -->
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->
                            <div class="pagination-container margin-top-30 margin-bottom-60">
                                <nav class="pagination">
                                    <ul>
                                        <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                        <li><a href="/Home/JobCategories" class="current-page">1</a></li>
                                        <li><a href="/Home/JobCategories">2</a></li>
                                        <li><a href="/Home/JobCategories">3</a></li>
                                        <li><a href="/Home/JobCategories">4</a></li>
                                        <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination / End -->

                </div>

            </div>
        </div>
    </div>

