@{
    ViewData["Title"] = "Job Page";
}



<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 content-left-offset">

            <div class="listings-container margin-top-35">

                <!-- Job Listing -->
                <div class="job-listing">
                    <!-- Job Listing Details -->
                    <div class="job-listing-details">
                        <!-- Details -->
                        <div class="job-listing-description">
                            <img src="~/content/images/company-logo-01.jpg" alt="logo">
                            <h2 class="job-listing-title">Digital Marketing Specialist</h2>
                            <h3 class="job-listing-company">ABC Company Ltd.</h3>
                            <span class="icon-material-outline-location-on">Auckland • Auckland Central</span>
                            <p class="job-listing-text">
                                Marketing & Communictions • Digital & Search Marketing<br />
                                Great employee benefits + awesome culture!<br />
                                Full time<br />
                            </p>
                        </div>
                        <!-- time -->
                        <span class="icon-material-outline-access-time"> 2 days ago</span>

                        <div class="line-separator"></div>

                        <div class="job-listing-description">

                            <br />

                            <h3>The company:</h3>
                            <p class="job-listing-text">
                                Our company is passionate about well-being and we are constantly seeking ways to offer New Zealanders healthy choices, while preserving and improving the environment around them.
                                We are on a mission to enhance the lives of all New Zealanders. Want to join them on this mission to make New Zealand and the world a better place for everybody?
                            </p>

                            <br />

                            <h3>Job description:</h3>
                            <p class="job-listing-text">
                                The purpose of this role is to assist the Group Marketing Manager to create,
                                strategise and execute/implement all marketing and advertising campaigns, promotions,
                                communications and materials for two of the Just Life Group brands. <br />

                                <ul>
                                    <li>Create and implement national marketing and advertising campaigns that generate quality leads.</li>
                                    <li>Analyse and report on data to measure the effectiveness of all marketing campaigns and implement steps for improvement.</li>
                                    <li>Create compelling digital content across suitable social media platforms and web.</li>
                                    <li>Maintain a strong online presence and brand awareness across all digital platforms.</li>
                                    <li>Update and maintain website content, ensuring that it is kept up-to-date and accurate.</li>
                                </ul>
                            
                            </p>  

                            <br />

                            <h3>Education and experience:</h3>
                            <p class="job-listing-text">
                                <ul>
                                    <li>3 or more years of professional design experience</li>
                                    <li>Direct response email experience</li>
                                    <li>Ecommerce website design experience</li>
                                    <li>Familiarity with mobile and web apps preferred</li>
                                    <li>Experience using Invision a plus</li>
                                </ul>
                            </p>

                            <div class="line-separator"></div>

                        </div>


                    </div>

           

                    <!-- Job Listing Footer -->
                    <div class="job-listing-footer">
                        <div class="job-listing-description">
                            <h3>Application details:</h3>
                            <p class="job-listing-text" style="margin-bottom: 10px;">
                                Immediate start available, please send your Cover Letter along with your CV to abc@work.co.nz
                            </p>

                            <div>
                                <a href="/Account/login" class="button button-sliding-icon ripple-effect">Log in to apply <i class="icon-material-outline-arrow-right-alt"></i></a>
                                <a href="#" class="button" style="background-color:darkgray;">Save</a>

                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>